.objects {
  margin-top: 1000px;
}

.objects_row {
}
.ourservice {
  .our {
    position: absolute;
    //width: 176px;//
    height: 37px;
    left: 150px;
    top: 2502px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
  }
  .staff {
    position: absolute;
    width: 375px;
    height: 28px;
    left: 150px;
    top: 2548px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #9b9b9b;
  }
  .coding {
    position: absolute;
    width: 167px;
    height: 28px;
    left: 150px;
    top: 2643px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #0e77af;
  }
  .defic {
    position: absolute;
    width: 18px;
    height: 2.77px;
    left: 700px;
    top: 2657.62px;

    background: #000000;
  }
  .cod {
    position: absolute;
    width: 280px;
    height: 161px;
    left: 150px;
    top: 2729px;
  }
  .we {
    position: absolute;
    width: 380px;
    height: 100px;
    left: 400px;
    top: 2741px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
     color: #000000;
  }
  .read {
    position: absolute;
    width: 131px;
    height: 33px;
    left: 447px;
    top: 2838px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 29px;
    /* or 242% */

    color: #7d7d7d;
  }
  .cherta {
    position: absolute;
    width: 592px;
    height: 1px;
    left: 150px;
    top: 2696px;

    border: 1px solid #979797;
  }
  .cred {
 position: absolute;
width: 144px;
height: 28px;
left: 150px;
top: 2931px;

font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #0E77AF;
  }
  .plu {
    
position: absolute;
width: 18px;
height: 18px;
left: 700px;
top: 2936px;
}
.cherta2 {
    position: absolute;
width: 592px;
height: 1px;
left: 150px;
top: 2984px;

border: 1px solid #979797;
}
.maan {
    position: absolute;
width: 285px;
height: 28px;
left: 150px;
top: 3016px;

font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
/* identical to box height */


color: #0E77AF;

}
.pluss {

position: absolute;
width: 18px;
height: 18px;
left: 700px;
top: 3022px;
}
.cherta3 {

position: absolute;
width: 592px;
height: 1px;
left: 150px;
top: 3073px;

border: 1px solid #979797;
}
}
.security {
  .sec {
    position: absolute;
    width: 113px;
    height: 37px;
    left: 1000px;
    top: 2502px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    color: #000000;
  }
  .poli {
    position: absolute;
    width: 183px;
    height: 28px;
    left: 1000px;
    top: 2548px;

    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #9b9b9b;
  }
  .securi {
    position: absolute;
width: 300px;
height: 250px;
left: 1000px;
top: 2650px;
  }
  .work {
    position: absolute;
width: 474px;
height: 132px;
left: 943px;
top: 3004px;

font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
/* or 181% */


color: #000000;
  }
  .but {
    position: absolute;
width: 104px;
height: 35px;
left: 943px;
top: 3136px;

background: #B4141B;
  }
}
