.test {
  position: absolute;
  width: 1440px;
  height: 651px;
  left: 0px;
  top: 3332px;

  background: #0e77af;
  .testim {
    padding-left: 200px;
    padding-top: 140px;
    font-family: "Asap";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
  }
  .what {
    padding-left: 200px;
    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
  }
  .zifra {
    padding-left: 200px;
    padding-top: 140px;
    font-family: "Asap";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 73px;

    color: #ffffff;
  }
  .pass {
    padding-left: 200px;
    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;

    color: #ffffff;
  }
  .next {
    padding-left: 200px;
    padding-top: 50px;
    font-family: "Asap";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    color: #ffffff;
  }

.jacheika {
width: 734px;
height: 356px;
margin-left: 620px;
margin-top: -370px;
//left: 683px;//
//top: 3480px;//

background: #FFFFFF;
}
.inc {


/*width: 170px;
height: 23px;
left: 742px;
top: 3555px;*/
padding-left: 60px;
padding-top: 90px;
font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
color: #000000;
}
.when {
    padding-top: 10px;
padding-left: 58px;
padding-right: 10px;
font-family: 'Asap';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 181% */


color: #000000;
}
.sam {

font-family: 'Asap';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
color: #000000;
padding-left: 58px;
padding-top: 45px;
}
}